ion-icon {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.header{
  border-bottom: 1px solid gray;
  background-color: #121212;
  width: 100%;
  padding: 8px 13px;
  height: 2.8rem;
  position:fixed;
}
